.visually-hidden,
.skip-link:not(:focus) {
	margin: 0;
	padding: 0;
	height: auto;
	width: 1px;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

.skip-link {
	position: fixed;
	top: 0.25rem;
	left: 0.25rem;
	padding: var(--space-3xs);
	background-color: var(--color-light);
	color: var(--color-dark);
	z-index: 999999;
}
