---
import "@/css/blocks/site-header.css";
import { menuLinks } from "@/site-config";

import SkipLink from "../SkipLink.astro";

const url = new URL(Astro.request.url);
---

<header class="site-header wrapper region" id="main-header">
	<SkipLink />
	<nav aria-labelledby="main-menu-label" class="cluster">
		<span class="visually-hidden" id="main-menu-label">Main menu</span>
		{
			menuLinks.map((link) => (
				<a
					aria-current={url.pathname === link.path ? "page" : false}
					data-astro-prefetch
					href={link.path}
				>
					{link.title}
				</a>
			))
		}
	</nav>
</header>
