---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<article class="wrapper region flow">
		<h1>About</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa velit vel, odit, sunt, ipsam nam
			repellat fugit eveniet delectus sapiente molestias dicta quisquam minima fugiat voluptas
			dolorem neque magni consectetur!
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam molestiae minima porro
			nostrum beatae, sit dolorem et amet eaque, officiis esse doloribus voluptatibus ad eum
			expedita! Id libero quo enim!
		</p>
		<p>
			Culpa porro deserunt sit eveniet minima quo laboriosam, doloremque exercitationem odit
			cupiditate dolorem, perferendis vel expedita, doloribus ut debitis! Mollitia dolores harum
			veritatis molestiae nesciunt tenetur, sit ratione quos porro.
		</p>
		<p>
			Quis excepturi distinctio neque eligendi rem voluptates veniam natus doloremque sed eaque
			perferendis non, facere debitis illum, blanditiis autem accusantium fugit recusandae officiis
			eius aliquid. Tempore alias et quaerat quam.
		</p>
	</article>
</PageLayout>
