---
import type { PostFrontmatter } from "@/types";

import Socials from "@/components/Socials.astro";
import PostPreview from "@/components/post/PostPreview.astro";
import { sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 5;
const allPosts = (await Astro.glob<PostFrontmatter>("../posts/*.mdx")).filter((post) =>
	import.meta.env.PROD ? !post.frontmatter.draft : true
);

const sortedPosts = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section class="wrapper region flow">
		<h1>Hello World!</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque cum dolorem, eius quae quam
			ipsam, suscipit facere laborum sed atque laudantium vel culpa architecto. Quisquam tempora
			eligendi qui sunt quidem!
		</p>
		<p>
			Saepe voluptate doloribus iusto incidunt quae ipsam quo iure officia, ex quas veritatis totam
			nisi quod blanditiis, ea at, libero quia nostrum autem. Amet animi facere repellendus
			exercitationem harum repudiandae.
		</p>
		<Socials />
	</section>
	<section class="wrapper region flow">
		<h2>Writings</h2>
		<ul class="post-list" role="list">
			{
				sortedPosts.map((p) => (
					<li>
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
