---
import type { PaginationLink } from "@/types";

interface Props {
	nextUrl?: PaginationLink;
	prevUrl?: PaginationLink;
}

const { nextUrl, prevUrl } = Astro.props;
---

{
	(prevUrl || nextUrl) && (
		<nav class="">
			{prevUrl && (
				<a class="" data-astro-prefetch href={prevUrl.url}>
					{prevUrl.srLabel && <span class="visually-hidden">{prevUrl.srLabel}</span>}
					{prevUrl.text ? prevUrl.text : "Previous"}
				</a>
			)}
			{nextUrl && (
				<a class="" data-astro-prefetch href={nextUrl.url}>
					{nextUrl.srLabel && <span class="visually-hidden">{nextUrl.srLabel}</span>}
					{nextUrl.text ? nextUrl.text : "Next"}
				</a>
			)}
		</nav>
	)
}
