---
import "@/css/blocks/social-links.css";
import { Icon } from "astro-icon/components";
/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	iconName: string;
	link: string;
}[] = [
	{
		friendlyName: "Github",
		iconName: "mdi:github",
		link: "https://github.com/chrismwilliams/astro-keystatic",
	},
	{
		friendlyName: "Email",
		iconName: "mdi:email",
		link: "mailto:hello@example.com",
	},
];
---

<ul class="social-links cluster" role="list">
	{
		socialLinks.map(({ friendlyName, iconName, link }) => (
			<li>
				<a href={link}>
					<Icon aria-hidden="true" class="text-step-2" name={iconName} />
					<span class="visually-hidden">{friendlyName}</span>
				</a>
			</li>
		))
	}
</ul>
