---
import { Icon } from "astro-icon/components";

import "@/css/blocks/social-links.css";
/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	link: string;
	iconName: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/chrismwilliams/astro-tina",
		iconName: "mdi:github",
	},
	{
		friendlyName: "Email",
		link: "mailto:hello@example.com",
		iconName: "mdi:email",
	},
];
---

<ul class="social-links cluster" role="list">
	{
		socialLinks.map(({ friendlyName, link, iconName }) => (
			<li>
				<a href={link}>
					<Icon class="text-step-2" aria-hidden="true" name={iconName} />
					<span class="visually-hidden">{friendlyName}</span>
				</a>
			</li>
		))
	}
</ul>
