.post-list {
	li {
		display: grid;
		gap: var(--gutter);
		grid-template-columns: repeat(12, 1fr);
		align-items: start;
		padding-block: var(--space-2xs);
		border-top: 1px solid var(--color-dark-glare);

		&:last-of-type {
			border-bottom: 1px solid var(--color-dark-glare);
		}

		time {
			grid-column: span 3;
			color: var(--color-grey);
		}

		> div {
			grid-column: span 9;

			a {
				text-underline-offset: 2px;

				&:not(:hover) {
					text-decoration: none;
				}
			}
		}
	}
}
