.site-header {
	--region-space: var(--space-m-l);
	display: flex;
	justify-content: center;
	align-items: center;

	nav {
		border-radius: var(--border-radius);
		padding-block: var(--space-3xs);
		padding-inline: var(--space-xs);
		background-color: var(--color-dark-glare);
		text-underline-offset: 3px;
		border: 1px solid var(--color-dark-grey);

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
