---
import type { MDXPost } from "@/types";

import FormattedDate from "../FormattedDate.astro";

interface Props {
	post: MDXPost;
}

const { post } = Astro.props;

// const { remarkPluginFrontmatter } = await render();

const dateTimeOptions: Intl.DateTimeFormatOptions = {
	dateStyle: "long",
	day: undefined,
	month: undefined,
	year: undefined,
};
---

{post.frontmatter.draft ? <span>(Draft)</span> : null}
<h1>
	{post.frontmatter.title}
</h1>
<div class="flow mt-xs text-grey flow-space-3xs">
	<p>
		<FormattedDate
			date={new Date(post.frontmatter.publishedDate)}
			dateTimeOptions={dateTimeOptions}
		/> ~{" "}
		{post.frontmatter.minutesRead}
	</p>
	{
		post.frontmatter.updatedDate && (
			<p>
				Updated:
				<FormattedDate
					class="ms-1"
					date={new Date(post.frontmatter.updatedDate)}
					dateTimeOptions={dateTimeOptions}
				/>
			</p>
		)
	}
</div>
