---
import type { MDXPost } from "@/types";
import type { HTMLTag, Polymorphic } from "astro/types";

import { getPostSortDate } from "@/data/post";

import FormattedDate from "../FormattedDate.astro";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	dateTimeOptions?: Intl.DateTimeFormatOptions | undefined;
	post: MDXPost;
};

const { as: Tag = "div", dateTimeOptions, post } = Astro.props;
const postDate = getPostSortDate(post);
---

<FormattedDate date={postDate} dateTimeOptions={dateTimeOptions} />
<Tag>
	{post.frontmatter.draft && <span>[DRAFT] </span>}
	<a data-astro-prefetch href={`/writings/${post.frontmatter.slug}/`}>
		{post.frontmatter.title}
	</a>
</Tag>
