---
import type { HTMLTag, Polymorphic } from "astro/types";
import type { CollectionEntry } from "astro:content";

import { getPostSortDate } from "@/data/post";

import FormattedDate from "../FormattedDate.astro";

type Props<Tag extends HTMLTag> = {
	dateTimeOptions?: Intl.DateTimeFormatOptions | undefined;
	post: CollectionEntry<"posts">;
} & Polymorphic<{ as: Tag }>;

const { as: Tag = "div", dateTimeOptions, post } = Astro.props;
const postDate = getPostSortDate(post);
---

<FormattedDate date={postDate} dateTimeOptions={dateTimeOptions} />
<Tag>
	{post.data.draft && <span>[DRAFT] </span>}
	<a data-astro-prefetch href={`/writings/${post.slug}/`}>
		{post.data.title}
	</a>
</Tag>
