/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/
body {
	background: var(--color-dark);
	color: var(--color-text);
	font-size: var(--size-step-0);
	font-family: var(--font-base);
	line-height: var(--leading-standard);
}

/* Base typesetting */
h1,
h2,
h3,
h4 {
	color: var(--color-light);
	max-width: 28ch;
}

h1 {
	font-size: var(--size-step-5);
}

h2 {
	font-size: var(--size-step-4);
}

h3 {
	font-size: var(--size-step-3);
}

h4 {
	font-size: var(--size-step-2);
}

p,
li,
blockquote:not([class]) {
	max-width: 65ch;
}

svg {
	height: 2ex;
	width: auto;
	flex: none;
}

[role="list"] {
	padding: 0;
	margin: 0;
}

a {
	color: currentcolor;
}

main:focus {
	outline: none;
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
	background: var(--color-dark);
	color: var(--color-light);
}
