---
import type { MDXPost } from "@/types";

import PostHero from "@/components/post/PostHero.astro";

import BaseLayout from "./Base.astro";

interface Props {
	post: MDXPost;
}

const { post } = Astro.props;
const { description, publishedDate, title, updatedDate } = post.frontmatter;
const articleDate = updatedDate
	? new Date(updatedDate).toISOString()
	: new Date(publishedDate).toISOString();
const ogImage = `/og-image/${post.frontmatter.slug}.png`;
---

<BaseLayout meta={{ articleDate, description, ogImage, title }}>
	<div class="wrapper region">
		<article class="prose">
			<PostHero post={post} />
			<div class="region flow">
				<slot />
			</div>
		</article>
	</div>
</BaseLayout>
